body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(30, 127, 187);
  color: #ffffff;
  border-bottom: 3px solid darkblue;
  border-radius: 0px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* Added font-weight to the CSS time styling for visibility purposes */
.past {
  background-color: #d8d0d0;
  color: white;
  font-weight: bold;
}

.present {
  background-color: #ff6961;
  color: white;
  font-weight: bold;
}

.future {
  background-color: #77dd77;
  color: white;
  font-weight: bold;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
